# Spark ML Assignment: Fill-in-the-Blanks

Follow the instructions and complete the TODOs below. Solutions are provided for verification.

## Data Cleaning & Type Casting
**Instructions:** Load a dataset, remove unwanted characters, and cast column types.

In [2]:
! pip install pyspark

Collecting pyspark
  Downloading pyspark-4.0.0.tar.gz (434.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 434.1/434.1 MB 7.3 MB/s eta 0:00:0000:0100:02
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting py4j==0.10.9.9 (from pyspark)
  Downloading py4j-0.10.9.9-py2.py3-none-any.whl.metadata (1.3 kB)
Downloading py4j-0.10.9.9-py2.py3-none-any.whl (203 kB)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (pyproject.toml) ... done
  Created wheel for pyspark: filename=pyspark-4.0.0-py2.py3-none-any.whl size=434741299 sha256=12df986b338b65f0069f1d2a9658889e2d95ac06646d676270a02140d61a65c0
  Stored in directory: /home/aymuos/.cache/pip/wheels/62/69/eb/eef3014e40bbcff88f1d6dd762baebf6bf5d0266ba57be1ef8
Successfully built pyspark
Installing collected packages: py4j, pyspark
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2/2 [pyspark]m1/2 [pyspark]
Successfully installed py4j-0.10.9.9 pyspark-4.0.0

In [7]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import regexp_replace, col
from pyspark.sql.types import DoubleType, IntegerType

spark = SparkSession.builder.appName("SparkML_Cleaning").getOrCreate()

# TODO: Load the dataset from 'data.csv'

file = "data.csv"
df = spark.read.csv(file, header=True, inferSchema=True)

df.show()

+-----------+-----------+------------------+-----------+
|employee_id| department|               age|     salary|
+-----------+-----------+------------------+-----------+
|          1|      Sales|26.036648168706982| $87,242.29|
|          2|  Marketing| 33.88012179493058| $82,075.61|
|          3|Engineering|49.689412854323926| $70,717.66|
|          4|  Marketing|23.761016654599633| $90,979.39|
|          5|  Marketing|  44.5000539550718| $87,809.97|
|          6|    Finance| 52.26516468575364|$101,828.91|
|          7|Engineering| 39.57885077000015| $83,503.41|
|          8|Engineering|18.157126216341187| $72,532.49|
|          9|Engineering| 38.26845223970014| $72,855.14|
|         10|  Marketing| 34.18881045841313| $45,981.45|
|         11|      Sales| 39.67794753263152| $77,259.89|
|         12|Engineering|42.361223506692575| $74,764.28|
|         13|  Marketing|27.202981193401214| $55,048.89|
|         14|    Finance|26.561036396560745| $74,620.69|
|         15|      Sales| 33.49466141740217| $95,147.52|
|         16|    Finance|25.344423281050254| $63,981.79|
|         17|      Sales| 36.50489078110594| $60,601.58|
|         18|  Marketing| 33.86578748653606| $91,573.92|
|         19|         HR|61.335282206121235| $84,513.60|
|         20|      Sales|24.749091111891353|$120,916.43|
+-----------+-----------+------------------+-----------+
only showing top 20 rows

In [ ]:
# TODO: Remove '$' sign from 'salary' column and cast to DoubleType
df = df.withColumn("salary", regexp_replace(col("salary"), "\\$", ""))
df = df.withColumn("salary", regexp_replace(col("salary"), ",", ""))


df.show()

+-----------+-----------+------------------+---------+
|employee_id| department|               age|   salary|
+-----------+-----------+------------------+---------+
|          1|      Sales|26.036648168706982| 87242.29|
|          2|  Marketing| 33.88012179493058| 82075.61|
|          3|Engineering|49.689412854323926| 70717.66|
|          4|  Marketing|23.761016654599633| 90979.39|
|          5|  Marketing|  44.5000539550718| 87809.97|
|          6|    Finance| 52.26516468575364|101828.91|
|          7|Engineering| 39.57885077000015| 83503.41|
|          8|Engineering|18.157126216341187| 72532.49|
|          9|Engineering| 38.26845223970014| 72855.14|
|         10|  Marketing| 34.18881045841313| 45981.45|
|         11|      Sales| 39.67794753263152| 77259.89|
|         12|Engineering|42.361223506692575| 74764.28|
|         13|  Marketing|27.202981193401214| 55048.89|
|         14|    Finance|26.561036396560745| 74620.69|
|         15|      Sales| 33.49466141740217| 95147.52|
|         16|    Finance|25.344423281050254| 63981.79|
|         17|      Sales| 36.50489078110594| 60601.58|
|         18|  Marketing| 33.86578748653606| 91573.92|
|         19|         HR|61.335282206121235| 84513.60|
|         20|      Sales|24.749091111891353|120916.43|
+-----------+-----------+------------------+---------+
only showing top 20 rows

In [10]:
df = df.withColumn("salary", col("salary").cast(DoubleType()))
df.show()

+-----------+-----------+------------------+---------+
|employee_id| department|               age|   salary|
+-----------+-----------+------------------+---------+
|          1|      Sales|26.036648168706982| 87242.29|
|          2|  Marketing| 33.88012179493058| 82075.61|
|          3|Engineering|49.689412854323926| 70717.66|
|          4|  Marketing|23.761016654599633| 90979.39|
|          5|  Marketing|  44.5000539550718| 87809.97|
|          6|    Finance| 52.26516468575364|101828.91|
|          7|Engineering| 39.57885077000015| 83503.41|
|          8|Engineering|18.157126216341187| 72532.49|
|          9|Engineering| 38.26845223970014| 72855.14|
|         10|  Marketing| 34.18881045841313| 45981.45|
|         11|      Sales| 39.67794753263152| 77259.89|
|         12|Engineering|42.361223506692575| 74764.28|
|         13|  Marketing|27.202981193401214| 55048.89|
|         14|    Finance|26.561036396560745| 74620.69|
|         15|      Sales| 33.49466141740217| 95147.52|
|         16|    Finance|25.344423281050254| 63981.79|
|         17|      Sales| 36.50489078110594| 60601.58|
|         18|  Marketing| 33.86578748653606| 91573.92|
|         19|         HR|61.335282206121235|  84513.6|
|         20|      Sales|24.749091111891353|120916.43|
+-----------+-----------+------------------+---------+
only showing top 20 rows

In [13]:
print(df.schema["salary"].dataType)

DoubleType()

## Feature Engineering
**Instructions:** Handle missing values, index categorical columns, and one-hot encode.

In [ ]:
from pyspark.ml.feature import Imputer, StringIndexer, OneHotEncoder

# TODO: Fill missing values in 'age' column using mean strategy

# TODO: Index 'department' column

# TODO: One-hot encode 'department_index'

## Feature Scaling and Vector Assembler
**Instructions:** Combine features into a vector and apply standard scaling.

In [ ]:
from pyspark.ml.feature import VectorAssembler, StandardScaler

# TODO: Assemble 'age_imputed' and 'salary' into a single feature vector

# TODO: Scale the feature vector

## Exploratory Data Analysis (EDA)
**Instructions:** Perform basic data analysis using Spark and convert to Pandas for visualizations.

In [ ]:
# TODO: Display summary statistics for numerical columns

In [ ]:
# TODO: Check for null values in each column

In [ ]:
# TODO: Analyze salary distribution by department

In [ ]:
# TODO: Visualize distributions using Pandas and Matplotlib

In [ ]:
# TODO: Visualize age distribution per department

In [ ]:
# TODO: Compute correlation between numeric features

## Feature Transformations and Scaling
**Instructions:** Experiment with scaling techniques ([MinMaxScaler](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.ml.feature.MinMaxScaler.html)), bucketing, and feature creation ([VectorAssembler
](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.ml.feature.VectorAssembler.html)).

In [ ]:
# TODO: Apply MinMaxScaler to 'salary' and 'age'
from pyspark.ml.feature import MinMaxScaler
from pyspark.ml.feature import VectorAssembler

# Assemble features before scaling

In [ ]:
# TODO: Categorize 'age' into bins (e.g., Young, Mid, Senior)
from pyspark.sql.functions import when

In [ ]:
# TODO: Create a new column 'salary_per_year_of_age'

In [ ]:
# TODO: Compute average salary per age group
df_binned.groupBy('age_group').agg({'salary': 'avg'}).show()

In [ ]:
# TODO: Visualize salary per age group

# Check the libraries and experiment with different parameter values : [OneHotEncoder](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.ml.feature.OneHotEncoder.html), [Imputer](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.ml.feature.Imputer.html), [LinearRegression](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.ml.regression.LinearRegression.html)