<a href="https://colab.research.google.com/github/aymuos/masters-practise-repo/blob/main/TERM3/AI_at_Scale/Assignment1/question1/sample_data/ch24m571-FINAL1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

CH24M571

Server Execution Code

In [1]:
# ! pip install requests

In [2]:
EXECUTE_FLAG = False

In [3]:
import requests

if EXECUTE_FLAG == 'True':
    # Read code from the file,. replace test1.py with your file name
    with open("CH24M571.py", "r") as file:
        code_content = file.read()

    url = "https://lab.samsai.io/submit"
    headers = {
        "Authorization": "Bearer f9318293d4e405e5cff5d03a348a02ae0c4331916cd390041a700045d1bcb16a",
        "Content-Type": "application/json"
    }
    payload = {
        "code": code_content ,
        "student_id": "CH24M571",
    }

    response = requests.post(url, headers=headers, json=payload)

    print("Status Code:", response.status_code)
    print("Response Body:", response.text)

In [4]:
# imports

from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType ,FloatType , ArrayType
from pyspark.sql.functions import col, sum , mean , mode , when , stddev , count , isnull ,from_json ,transform ,struct , collect_list,flatten , explode , expr

import itertools
import time
import csv

Question 1 & preliminary checks

In [5]:
student_id = "CH24M571"  # your roll number, letters must be in capital letter
app_name = student_id + "_Assignment_1"
assignment_no = "Assignment_1"
base_path = f'./'

#base_path = f"/opt/spark/data/{student_id}/"

class SparkSessionBuilder:
    def __init__(self, app_name, student_id):
        self.app_name = app_name
        self.student_id = student_id

    # Initialize Spark session with the default configurations - optimised for samsai server
        self.spark = SparkSession.builder \
            .appName(self.app_name) \
            .config("spark.executor.instances", "1") \
            .config("spark.executor.memory", "512M") \
            .config("spark.executor.cores", "2") \
            .config("spark.driver.memory", "3G") \
            .getOrCreate()

    # Change Spark configurations based on the provided configuration for the 4th question
    # combo is a tuple of (num_executors, num_cores, executor_memory
    def change_config(self, combo):
        self.spark = SparkSession.builder \
            .appName(self.app_name) \
            .config("spark.executor.instances", combo[0]) \
            .config("spark.executor.memory", combo[2]) \
            .config("spark.executor.cores", combo[1]) \
            .config("spark.driver.memory", "3G") \
            .getOrCreate()

In [6]:
spark_config = SparkSessionBuilder(app_name, student_id)
spark = spark_config.spark

In [7]:
class Q1_Data_Ingestion:
    def __init__(self):
        self.customers_schema = StructType([
                                            StructField("customer_id", StringType(), nullable=False),
                                            StructField("name", StringType(), True),
                                            StructField("age", IntegerType(), True),
                                            StructField("email", StringType(), True),
                                            StructField("preferences", StringType(), True),
                                            StructField("address", StringType(), True)
        ])

        # Orders schema
        self.orders_schema = StructType([
            StructField("order_id", StringType(), nullable=False),
            StructField("customer_id", StringType(), True),
            StructField("order_date", StringType(), True),
            StructField("items", StringType(), True),
            StructField("shipping_address", StringType(), True),
            StructField("total_amount", FloatType(), True)
        ])

        # Products schema
        self.products_schema = StructType([
            StructField("product_id", StringType(), nullable=False),
            StructField("name", StringType(), True),
            StructField("category", StringType(), True),
            StructField("price", FloatType(), True),
            StructField("tags", StringType(), True)
        ])

    def read_csvs_to_spark_df(self, base_path,spark):
            """
            Read the 3 CSV files into Spark DataFrames using the defined schemas

            @return: Tuple of DataFrames (customers_df, orders_df, products_df)
            """
            customers_df = spark.read.csv(base_path + "customers.csv", header=True, schema=self.customers_schema, escape="\"",quote="\"")
            products_df = spark.read.csv(base_path + "products.csv", header=True, schema=self.products_schema, escape="\"",quote="\"")
            orders_df = spark.read.csv(base_path + "orders.csv", header=True, schema=self.orders_schema, escape="\"",quote="\"")

            return customers_df, products_df ,orders_df


    def print_dfs(self, customers_df, orders_df, products_df):
            """
            Print the first 5 rows of each DataFrame

            @param customers_df: DataFrame containing customer data
            @param orders_df: DataFrame containing order data
            @param products_df: DataFrame containing product data
            """

            print("----------------------------------")
            print("Customers DataFrame:")
            customers_df.show(5, truncate=False)

            print("----------------------------------")

            print("Orders DataFrame:")
            orders_df.show(5, truncate=False)

            print("----------------------------------")

            print("Products DataFrame:")
            products_df.show(5, truncate=False)

In [8]:
customers_df, products_df, orders_df = Q1_Data_Ingestion().read_csvs_to_spark_df(base_path, spark)
Q1_Data_Ingestion().print_dfs(customers_df,  products_df,orders_df)

----------------------------------
Customers DataFrame:
+-----------+----------+---+---------------------+-----------------------------------------+-------------------------------------------------------------------+
|customer_id|name      |age|email                |preferences                              |address                                                            |
+-----------+----------+---+---------------------+-----------------------------------------+-------------------------------------------------------------------+
|CUST000001 |Customer_1|61 |customer1@example.com|["sports", "travel", "fitness", "movies"]|{"street": "2796 Main St", "city": "Chicago", "zip": "25933"}      |
|CUST000002 |Customer_2|55 |customer2@example.com|NULL                                     |{"street": "5409 Main St", "city": "San Francisco", "zip": "27728"}|
|CUST000003 |Customer_3|79 |customer3@example.com|["movies", "books", "travel"]            |{"street": "6081 Main St", "city": "New York", "zip": "89893"}     |
|CUST000004 |Customer_4|73 |customer4@example.com|["books", "fitness", "sports", "travel"] |{"street": "3303 Main St", "city": "San Francisco", "zip": "24824"}|
|CUST000005 |Customer_5|80 |customer5@example.com|["music", "books", "fitness", "movies"]  |{"street": "4864 Main St", "city": "Austin", "zip": "33253"}       |
+-----------+----------+---+---------------------+-----------------------------------------+-------------------------------------------------------------------+
only showing top 5 rows

----------------------------------
Orders DataFrame:
+----------+---------+-----------+------+-------------------------------+
|product_id|name     |category   |price |tags                           |
+----------+---------+-----------+------+-------------------------------+
|PROD00001 |Product_1|electronics|5.32  |["new", "sale", "eco-friendly"]|
|PROD00002 |Product_2|sports     |59.11 |["limited", "eco-friendly"]    |
|PROD00003 |Product_3|sports     |370.91|["new"]                        |
|PROD00004 |Product_4|sports     |69.84 |["sale"]                       |
|PROD00005 |Product_5|sports     |135.9 |["sale", "new", "popular"]     |
+----------+---------+-----------+------+-------------------------------+
only showing top 5 rows

----------------------------------
Products DataFrame:
+----------+-----------+----------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------------------------------+------------+
|order_id  |customer_id|order_date|items                                                                                                                                                                                                                                                                                                        |shipping_address                                              |total_amount|
+----------+-----------+----------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------------------------------+------------+
|ORD0000001|CUST000046 |2023-08-16|[{"product_id": "PROD00003", "quantity": 3, "price": 370.91}]                                                                                                                                                                                                                                                |{"street": "703 Main St", "city": "New York", "zip": "32515"} |1112.73     |
|ORD0000002|CUST000027 |2023-11-20|[{"product_id": "PROD00008", "quantity": 2, "price": 40.45}, {"product_id": "PROD00009", "quantity": 2, "price": 187.57}]                                                                                                                                                                                    |{"street": "6503 Main St", "city": "Seattle", "zip": "60739"} |456.04      |
|ORD0000003|CUST000093 |2023-11-27|[{"product_id": "PROD00006", "quantity": 3, "price": 428.33}, {"product_id": "PROD00005", "quantity": 1, "price": 135.9}]                                                                                                                                                                                    |{"street": "9664 Main St", "city": "Chicago", "zip": "85761"} |1420.89     |
|ORD0000004|CUST000017 |2023-04-08|[{"product_id": "PROD00010", "quantity": 2, "price": 176.2}, {"product_id": "PROD00005", "quantity": 1, "price": 135.9}, {"product_id": "PROD00004", "quantity": 3, "price": 69.84}, {"product_id": "PROD00010", "quantity": 2, "price": 176.2}, {"product_id": "PROD00007", "quantity": 1, "price": 400.44}]|{"street": "1329 Main St", "city": "New York", "zip": "10614"}|1450.66     |
|ORD0000005|CUST000092 |2023-09-24|[{"product_id": "PROD00003", "quantity": 3, "price": 370.91}, {"product_id": "PROD00009", "quantity": 2, "price": 187.57}, {"product_id": "PROD00010", "quantity": 3, "price": 176.2}]                                                                                                                       |{"street": "3075 Main St", "city": "Austin", "zip": "30353"}  |2016.47     |
+----------+-----------+----------+-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------------------------------+------------+
only showing top 5 rows

1. Read all the files into spark dataframe with schema inference
2. Print the size of each dataframe and schema
3. Identify the corrupt values in each file and report the number of corrupt rows and
total corrupt values in each file.
4. For numerical columns, fill the missing values with mean value
5. For categorical or string columns, fill the missing values with most frequent value.

In [9]:
def print_df_sizes_and_schema(customers_df, orders_df, products_df):
    print("Customers DataFrame:")
    print(f"Rows: {customers_df.count()}, Columns: {len(customers_df.columns)}")
    customers_df.printSchema()

    print("\nOrders DataFrame:")
    print(f"Rows: {orders_df.count()}, Columns: {len(orders_df.columns)}")
    orders_df.printSchema()

    print("\nProducts DataFrame:")
    print(f"Rows: {products_df.count()}, Columns: {len(products_df.columns)}")
    products_df.printSchema()

print_df_sizes_and_schema(customers_df, orders_df, products_df)

Customers DataFrame:
Rows: 100, Columns: 6
root
 |-- customer_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- email: string (nullable = true)
 |-- preferences: string (nullable = true)
 |-- address: string (nullable = true)


Orders DataFrame:
Rows: 500, Columns: 6
root
 |-- order_id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- order_date: string (nullable = true)
 |-- items: string (nullable = true)
 |-- shipping_address: string (nullable = true)
 |-- total_amount: float (nullable = true)


Products DataFrame:
Rows: 10, Columns: 5
root
 |-- product_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- category: string (nullable = true)
 |-- price: float (nullable = true)
 |-- tags: string (nullable = true)

In [10]:
class DataCleaning:

    # idea is to create a common object that can be used to clean all the dataframes

    def print_null_records(self, df):
        null_df = df.select([count(when(isnull(cols), cols)).alias(cols) for cols in df.columns])
        return null_df

    # clean dataframes by filling null values with mean or mode based on the data type
    # for string type columns, fill with mode, for integer and float type columns, fill with mean
    # this function will also print the number of null values in each column


    def clean_df(self, df, null_df):

        for col_name in null_df.columns:
            null_count = null_df.select(col(col_name)).collect()[0][0]
            # If the column is not present in the DataFrame, skip it
            # Check if the column has null values
            if(null_count !=0):
                print(f"DataFrame column '{col_name}' has {null_count} null values. \
                      Filing null values with {'mean' if df.schema[col_name].dataType in [IntegerType(), FloatType()] else 'mode' }.")

                # Filing the null values in the string type column with the mode
                if df.schema[col_name].dataType == StringType():
                    mode_col = df.agg(mode(col(col_name))).collect()[0][0]
                    df = df.withColumn(col_name, when(col(col_name).isNull(), mode_col).otherwise(col(col_name)))

                # Filing the null values in the integer type column with the mean
                elif df.schema[col_name].dataType == IntegerType():
                    mean_col = df.agg(mean(col(col_name))).collect()[0][0]
                    df = df.withColumn(col_name, when(col(col_name).isNull(), mean_col).otherwise(col(col_name)))

                # Filing the null values in the float type column with the mean
                elif df.schema[col_name].dataType == FloatType():
                    mean_col = df.agg(mean(col(col_name))).collect()[0][0]
                    df = df.withColumn(col_name, when(col(col_name).isNull(), mean_col).otherwise(col(col_name)))

        return df

- executing the corrupt records query

In [11]:
def print_corrupt_records(customers_df, orders_df, products_df):
    print("Corrupt Records in Customers DataFrame:")
    customer_null_df = DataCleaning().print_null_records(customers_df)
    customer_null_df.show()

    print("Corrupt Records in Orders DataFrame:")
    orders_null_df = DataCleaning().print_null_records(orders_df)
    orders_null_df.show()

    print("Corrupt Records in Products DataFrame:")
    products_null_df = DataCleaning().print_null_records(products_df)
    products_null_df.show()

In [12]:
print_corrupt_records(customers_df, orders_df, products_df)

Corrupt Records in Customers DataFrame:
+-----------+----+---+-----+-----------+-------+
|customer_id|name|age|email|preferences|address|
+-----------+----+---+-----+-----------+-------+
|          0|   0|  1|    5|          5|      0|
+-----------+----+---+-----+-----------+-------+

Corrupt Records in Orders DataFrame:
+--------+-----------+----------+-----+----------------+------------+
|order_id|customer_id|order_date|items|shipping_address|total_amount|
+--------+-----------+----------+-----+----------------+------------+
|       0|          0|         0|    0|              23|          14|
+--------+-----------+----------+-----+----------------+------------+

Corrupt Records in Products DataFrame:
+----------+----+--------+-----+----+
|product_id|name|category|price|tags|
+----------+----+--------+-----+----+
|         0|   0|       0|    0|   0|
+----------+----+--------+-----+----+

In [13]:
def fill_null_values(customers_df, orders_df, products_df):
    customers_df = DataCleaning().clean_df(customers_df, DataCleaning().print_null_records(customers_df))
    orders_df = DataCleaning().clean_df(orders_df, DataCleaning().print_null_records(orders_df))
    products_df = DataCleaning().clean_df(products_df, DataCleaning().print_null_records(products_df))

    return customers_df, orders_df, products_df

In [14]:
fill_null_values(customers_df, orders_df, products_df)

DataFrame column 'age' has 1 null values.                       Filing null values with mean.
DataFrame column 'email' has 5 null values.                       Filing null values with mode.
DataFrame column 'preferences' has 5 null values.                       Filing null values with mode.
DataFrame column 'shipping_address' has 23 null values.                       Filing null values with mode.
DataFrame column 'total_amount' has 14 null values.                       Filing null values with mean.

(DataFrame[customer_id: string, name: string, age: double, email: string, preferences: string, address: string],
 DataFrame[order_id: string, customer_id: string, order_date: string, items: string, shipping_address: string, total_amount: double],
 DataFrame[product_id: string, name: string, category: string, price: float, tags: string])

Problem 2: Data Transformation (Marks: 10)
1. Compute total spending by each customer
2. Identify top 3 products per customer by quantity
3. Create a summary dataframe with
•customer id
•total orders
•total spent
•top 3 product ids
4. Display top 50 customers in terms of total orders.

In [15]:
def q2_a(customers_df, orders_df):
    """
    Q2: Find the top 5 customers based on the total amount spent on orders.
    """
    # Join customers with orders to get total amount spent by each customer
    total_spent_df = orders_df.groupBy("customer_id").agg(sum("total_amount").alias("total_spent"))

    # Join with customers to get customer details
    top_customers_df = total_spent_df.join(customers_df, "customer_id") \
                                       .orderBy(col("total_spent").desc()) \
                                       .limit(5)

    return top_customers_df

In [16]:
q2_a_result = q2_a(customers_df, orders_df)

print("Top 5 Customers based on Total Amount Spent:")
q2_a_result.show(truncate=False)

Top 5 Customers based on Total Amount Spent:
+-----------+------------------+-----------+---+----------------------+----------------------------------------+--------------------------------------------------------------+
|customer_id|total_spent       |name       |age|email                 |preferences                             |address                                                       |
+-----------+------------------+-----------+---+----------------------+----------------------------------------+--------------------------------------------------------------+
|CUST000033 |14896.74008178711 |Customer_33|68 |customer33example.com |["books", "sports", "fitness"]          |{"street": "7338 Main St", "city": "Chicago", "zip": "56209"} |
|CUST000016 |13439.240074157715|Customer_16|70 |customer16@example.com|["travel", "movies"]                    |{"street": "2764 Main St", "city": "Chicago", "zip": "16590"} |
|CUST000083 |12215.219970703125|Customer_83|59 |customer83@example.com|["sports", "books", "fitness", "movies"]|{"street": "4343 Main St", "city": "Chicago", "zip": "90952"} |
|CUST000050 |10136.719940185547|Customer_50|70 |customer50@example.com|["books"]                               |{"street": "337 Main St", "city": "New York", "zip": "61402"} |
|CUST000006 |10116.099697589874|Customer_6 |44 |customer6@example.com |["travel", "fitness"]                   |{"street": "3592 Main St", "city": "New York", "zip": "84828"}|
+-----------+------------------+-----------+---+----------------------+----------------------------------------+--------------------------------------------------------------+

- Identify top 3 products per customer by quantity

In [29]:
def top3productsperCustomer():

    # Compute total spending by each customer from orders_df
    customer_spending_df = orders_df.groupBy("customer_id").sum("total_amount").withColumnRenamed("sum(total_amount)", "total_spending")
    customer_spending_df = customer_spending_df.orderBy("customer_id")

    # Define the schema for each item in the items array
    item_schema = ArrayType(
        StructType([
            StructField("product_id", StringType(), True),
            StructField("quantity", IntegerType(), True),
            StructField("price", FloatType(), True)
        ])
    )
    # Convert the items column to JSON type (array of structs)
    product_orders_df = orders_df.withColumn("items_json", from_json(col("items"), item_schema))

    # Keep only product_id and quantity in items_json
    product_orders_df = product_orders_df.withColumn(
        "items_clean",
        transform(
            col("items_json"),
            lambda x: struct(x["product_id"].alias("product_id"), x["quantity"].alias("quantity"))
        )
    ).select("customer_id", "items_clean")

    # Merge the Items arrays for each customer
    merged_df = product_orders_df.groupBy("customer_id").agg(collect_list("Items_clean").alias("all_products"))
    merged_df = merged_df.withColumn("all_products", flatten(col("all_products"))) # Flatten the nested array structure making a single array of products

    # Create a new DataFrame with three columns: Customer ID, Product ID, and Quantity by exploding the all_products array
    exploded_df = merged_df.withColumn("product_item", explode(col("all_products"))).select(
        "customer_id",
        col("product_item.product_id").alias("product_id"),
        col("product_item.quantity").cast("int").alias("Quantity")
    )

    # Group by Customer ID and Product ID, summing the Quantity to get total quantity per product per customer
    customer_product_df = exploded_df.groupBy(
        "customer_id", "product_id").sum(
        "Quantity").withColumnRenamed("sum(Quantity)","Total Quantity")

    # Order by Customer ID and Total Quantity (descending)
    customer_product_df = customer_product_df.orderBy("customer_id", col("Total Quantity").desc())

    # Merge the all the products with quantity for each customer
    customer_product_df = customer_product_df.groupBy("customer_id").agg(
        collect_list(struct("product_id", "Total Quantity")).alias("total_orders")).orderBy("customer_id")

    # Select top 3 products for each customer
    customer_topthree_product_df = customer_product_df\
        .withColumn("Top 3 Products",
        expr("slice(Total_Orders, 1, 3)") # Get the top 3 products for each customer row
    ).select("customer_id", "Top 3 Products")

    summary_df = customer_spending_df \
    .join(customer_product_df, on="customer_id", how="right") \
    .join(customer_topthree_product_df, on="customer_id", how="right")\
    .orderBy("customer_id")

    return summary_df.show() # Return the summary_df

In [30]:
top3productsperCustomer()

+-----------+------------------+--------------------+--------------------+
|customer_id|    total_spending|        total_orders|      Top 3 Products|
+-----------+------------------+--------------------+--------------------+
| CUST000001| 7837.950028419495|[{PROD00002, 12},...|[{PROD00002, 12},...|
| CUST000002| 6334.889953613281|[{PROD00009, 8}, ...|[{PROD00009, 8}, ...|
| CUST000003| 8870.059913635254|[{PROD00004, 12},...|[{PROD00004, 12},...|
| CUST000004| 4024.570053100586|[{PROD00002, 6}, ...|[{PROD00002, 6}, ...|
| CUST000005| 6235.429955482483|[{PROD00008, 10},...|[{PROD00008, 10},...|
| CUST000006|10116.099697589874|[{PROD00009, 11},...|[{PROD00009, 11},...|
| CUST000007|4060.5299305915833|[{PROD00004, 6}, ...|[{PROD00004, 6}, ...|
| CUST000008|            3159.5|[{PROD00006, 5}, ...|[{PROD00006, 5}, ...|
| CUST000009|3354.2300605773926|[{PROD00002, 5}, ...|[{PROD00002, 5}, ...|
| CUST000010| 2295.570068359375|[{PROD00009, 6}, ...|[{PROD00009, 6}, ...|
| CUST000011| 5725.100067138672|[{PROD00001, 6}, ...|[{PROD00001, 6}, ...|
| CUST000012| 2700.850028991699|[{PROD00004, 6}, ...|[{PROD00004, 6}, ...|
| CUST000013| 7308.669952392578|[{PROD00008, 11},...|[{PROD00008, 11},...|
| CUST000014|2717.8399658203125|[{PROD00003, 3}, ...|[{PROD00003, 3}, ...|
| CUST000015|4083.1600646972656|[{PROD00003, 5}, ...|[{PROD00003, 5}, ...|
| CUST000016|13439.240074157715|[{PROD00003, 13},...|[{PROD00003, 13},...|
| CUST000017| 7496.780090332031|[{PROD00010, 11},...|[{PROD00010, 11},...|
| CUST000018|1528.8999633789062|[{PROD00006, 2}, ...|[{PROD00006, 2}, ...|
| CUST000019| 7249.889976501465|[{PROD00008, 9}, ...|[{PROD00008, 9}, ...|
| CUST000020|  1283.52001953125|[{PROD00002, 5}, ...|[{PROD00002, 5}, ...|
+-----------+------------------+--------------------+--------------------+
only showing top 20 rows