Soumya Mukherjee | CH24M571

In [24]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import sklearn.model_selection as train_test_split

In [16]:
# dataset = "./data/problem1/diabetes.csv"
# df = pd.read_csv(dataset)

In [17]:
dataset = "./data/diabetes.csv"
df = pd.read_csv(dataset)

In [18]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [19]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [20]:
df.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

The dataset for the assignment is in the file named ‘diabetes.csv’ and the main objective here is to predict if the patient is diabetic or not. For the data perform a train-test
split in ratio 70:30 and fit a decision tree classifier model with default parameters.

(a) Evaluate the accuracy of the model. [Marks:8]

(b) Visualize the decision tree. (You can explore the option of changing the ‘font size’
in the tree if the plot is not clear) [Marks:12]

(c) Optimize the performance of the decision tree by changing the parameters - criterion, max depth and min samples leaf. [Marks:10]

(d) Now check the accuracy of the model after optimization. Also display the confusion
matrix. [Marks:10]

In [21]:
X = df.drop(['Outcome'],axis=1)
y = df['Outcome']

X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [22]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, stratify=y, random_state=12)

TypeError: 'module' object is not callable

Doing stratification such that we have random distribution of diabetes in test and train sets

In [ ]:
(X_train , X_test , y_test ,y_train)

NameError: name 'X_train' is not defined